#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.accueil, .contact, .projets {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  padding-top: 7rem;
  max-width: 90%;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

hr {
  width: 15%;
  margin: 2rem auto;
  border: none;
  border-top: 1px solid #ccc;
}

/* Image principale responsive */
.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 75%;
  height: auto;
  margin: 1rem auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 5/2; /* pour garder le ratio même sur mobile */
}

.blur-background {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background-image: url('./assets/img/selfie.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: 1;
}

.mainimg {
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  display: block;
}

#mainimg {
  position: relative;
  width: 33%;
  height: 100%;
  object-fit: scale-down;
  z-index: 2;
  margin: 0 auto;
  display: block;
}

.boximg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.screengame{
  /* width: 100%; */
  max-width: 500px;
  height: auto;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
  border-radius: 16px;
  overflow: hidden;
}

/* Carrousel responsive */
.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem;
  margin-bottom: 0;
}

.carrousel-bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.carrousel-bloc img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 20px;
}

.carrousel-bloc button {
  font-size: 1.5rem;
  padding: 0.3em 0.7em;
}

.accordion-title {
  width: "100%";
  text-align: "center";
  padding: "10px";
  margin: 0.5rem;
  font-weight: "bold";
  font-size: "1.2em";
  cursor: "pointer";
  background: "#242424";
  border: "none";
  border-bottom: "1px solid #ccc";
}

.mainlogo {
  width: 110px;
  padding-bottom: 5em;
  will-change: filter;
  transition: filter 300ms;
}
.mainlogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.mainlogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.accordion-content {
  padding: "10px 20px";
  background: "#242424"
}

/* Accordion responsive */
.accordion-title {
  font-size: 1.1em;
  padding: 0.7em 0.5em;
}

.figma-embed {
  position: absolute;
  top: 0;
  left: 25%;
  width: 400px;
  height: 100%;
  border: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 600px) {
  .accueil, .contact, .projets {
    padding-top: 10rem;
  }

  li {
    list-style: none;
  }
  .mainimg, .image-wrapper {
    max-width: 98vw;
    min-width: 0;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
  }

  .carrousel-bloc {
    flex-direction: row;
  }

  .carrousel-bloc img {
    width: 60px;
    height: 60px;
    margin: 0 5px;
  }

  .mainlogo {
    width: 70px;
    padding-bottom: 3em;
  }

  .carrousel-bloc button {
    font-size: 0.5rem;
    padding: 0.2em 0.5em;
  }
  .accordion-content {
    padding: 8px 5px;
  }
  .figma-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.boximg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

}
