#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1{
  margin: 0.2rem;
}

#Colored {
  color: #3399ff;
  margin-bottom: 2rem;
}

#Colored2 {
  /* color: #56b046; */
  color: rgb(34, 103, 152);
}

.Bloc-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  padding-top: 7rem;
  max-width: 90%;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

hr {
  width: 15%;
  margin: 2rem auto;
  border: none;
  border-top: 1px solid #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
  max-width: 100%;
}

.container-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 100%;
}

#links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

#links-container a {
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.443);
  border-radius: 12px;
  padding: 0.3rem;
  text-align: left;
  align-items: baseline;
  width: 100%;
}

#links-container a:hover {
  background: rgba(75, 171, 255, 0.1);
  box-shadow: 0 0 15px rgba(32, 32, 32, 0.643);
  transform: scale(1.02);
  transition: transform 0.2s;
}

#box-styled {
  border: 1px solid #313131;
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.443);
  background: linear-gradient(135deg, #222 0%, rgb(34, 103, 152) 100%);
  border-radius: 12px;
  margin: 2rem 0;
  padding: 3rem;
  max-width: 100%;
  align-items: center;
  height: fit-content;
}

body.light-mode #box-styled {
  background: linear-gradient(135deg, #f0f0f0 0%, #a0c4ff 100%);
  border: 1px solid #ccc;
}

#box-styled:hover {
  box-shadow: 0 0 15px rgba(32, 32, 32, 0.643);
  border: 1px solid white;
  transform: scale(1.02);
  transition: transform 0.6s;
}

#card-styled {
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.443);
  border-radius: 12px;
  padding: 0.3rem;
  text-align: left;
  align-items: baseline;
  width: 100%;
}



.box-content-row {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  font-size: 1.5rem;
  gap: 1rem;
  width: fit-content;
  justify-content: center;
}

.box-content-column {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  font-size: 1.5rem;
  width: fit-content;
}

.box-content-row img{
    width: 30px;
    height: 30px;
}

/* ------------------------------------------------------- */
/* -------------------- A PROPOS  -------------------------*/
/* ------------------------------------------------------- */


#info-utile {
  margin-top: 2rem;
  margin-bottom: 0;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 5/2; /* pour garder le ratio même sur mobile */
}

.blur-background {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background-image: url('./assets/img/selfie.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: 1;
}

.mainimg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  display: block;
}

#mainimg {
  position: relative;
  width: 33%;
  height: 100%;
  object-fit: scale-down;
  z-index: 2;
  margin: 0 auto;
  display: block;
}

.boximg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.screengame{
  /* width: 100%; */
  max-width: 500px;
  height: auto;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
  border-radius: 16px;
  overflow: hidden;
}

/* ------------------------------------------------------- */
/* -------------------- COMPETENCES -----------------------*/
/* ------------------------------------------------------- */

.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem;
  margin-bottom: 0;
}

.carrousel-bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.carrousel-bloc img {
  width: 125px;
  height: 125px;
  object-fit: contain;
  margin: 0 20px;
}

.mainlogo {
  width: 150px;
  padding-bottom: 5em;
  will-change: filter;
  transition: filter 300ms;
}
.mainlogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.mainlogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.programName {
  color: white;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

body.light-mode .programName {
  color: black;
}


/* ------------------------------------------------------- */
/* --------------------- PROJETS ------------------------- */
/* ------------------------------------------------------- */


.accordion-title {
  width: "100%";
  text-align: "center";
  padding: "10px";
  margin: 0.5rem;
  font-weight: "bold";
  font-size: "1.2em";
  cursor: "pointer";
  background: "#242424";
  border: "none";
  border-bottom: "1px solid #ccc";
}


.accordion-content {
  padding: "10px 20px";
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.5s;
}

.accordion-content.closed {
  max-height: 0;
  opacity: 0;
  padding: 0 !important;
}

/* Accordion responsive */
.accordion-title {
  font-size: 1.1em;
  padding: 0.7em 0.5em;
}

.mpm-text {
  font-family: monospace;
  font-size: 1.1em;
  background: #f8f8f8;
  color: black;
  padding: 0.7em;
  border-radius: 6px;
  margin-bottom: 0.5em;
  word-break: break-word;
}
.mpm-text .correct {
  color: #2ecc40;
  background: none;
}
.mpm-text .incorrect {
  color: #e74c3c;
  background: none;
  text-decoration: underline;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.color-picker-container input {
  border-radius: 5px;
  margin: 0.5rem;
  border: 1px solid hsla(0, 0%, 0%, 0.164);
  cursor: pointer;
}

.color-display {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.color-display::after, .color-display::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50% );
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 4px;
  background-image: conic-gradient(from var(--angle), #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
  /* background-image: conic-gradient(from var(--angle),transparent 85%, white); */
  z-index: -1;
  animation: 3s spin infinite linear;
}

.color-display::before {
  filter: blur(1rem);
  opacity: 0.2;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.figma-container {
  position: relative;
  padding-top: 50%;
}

.figma-embed {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100%;
  border: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* ------------------------------------------------------- */
/* -------------------- RESPONSIVE ----------------------- */
/* ------------------------------------------------------- */


@media (max-width: 600px) {
  .accueil, .contact, .projets {
    padding-top: 10rem;
  }

  h1 {
    font-size: 2rem;
  }

  li {
    list-style: none;
  }
  .mainimg, .image-wrapper {
    max-width: 98vw;
    min-width: 0;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
  }

  .carrousel-bloc {
    flex-direction: row;
  }

  .carrousel-bloc img {
    width: 60px;
    height: 60px;
    margin: 0 5px;
  }

  .mainlogo {
    width: 90px;
    padding-bottom: 3em;
  }

  .carrousel-bloc button {
    font-size: 0.5rem;
    padding: 0.2em 0.5em;
  }
  .accordion-content {
    padding: 8px 5px;
  }
  .figma-container {
    padding-top: 70%;
    max-width: 90vw;
  }
  .figma-embed {
    width: 50vw !important;
  }
  .screengame{
    max-width: 90vw;
    height: auto;
    margin: 0.5rem;
  }
  .color-display {
    width: 70vw;
    height: 150px;
    font-size: 0.8rem;
  }

  .grid-container {
    max-width: 90vw;
  }

  #box-styled {
    max-width: 15vw;
    padding: 0.7rem;
    justify-content: space-evenly;
  }

  #box-styled h3 {
    white-space: nowrap;
  }

  #box-styled p {
    font-size: 0.5rem;
  }

  #links-container {
    width: 70%;
    margin: 1rem auto;
  }

  .box-content-column h2, .box-content-column h3 {
    font-size: 0.8rem;
    text-align: left;
  }

  .box-content-row {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .box-content-row img{
    width: 20px;
    height: 20px;
  }

  .fullstack {
    display: block;
    text-align: left;
  }

.boximg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

}

.defilement-lisse {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.defilement-lisse .contenu {
  display: inline-block;
  padding-left: 100%;
  color: white;
  animation: defilement-infini 4s linear infinite;
}

@keyframes defilement-infini {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

body.dark-mode .accordion-title,
body.dark-mode h2,
body.dark-mode h3 {
  color: #f5f5f5;
}

body.light-mode .accordion-title,
body.light-mode h2,
body.light-mode h3 {
  color: #222;
}