#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.accueil, .contact, .projets {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  padding-top: 7rem;
  max-width: 90%;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

hr {
  width: 15%;
  margin: 2rem auto;
  border: none;
  border-top: 1px solid #ccc;
}

/* Image principale responsive */
.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 75%;
  height: auto;
  margin: 1rem auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 5/2; /* pour garder le ratio même sur mobile */
}

.blur-background {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background-image: url('./assets/img/selfie.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: 1;
}

.mainimg {
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  display: block;
}

#mainimg {
  position: relative;
  width: 33%;
  height: 100%;
  object-fit: scale-down;
  z-index: 2;
  margin: 0 auto;
  display: block;
}

.boximg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.screengame{
  /* width: 100%; */
  max-width: 500px;
  height: auto;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
  border-radius: 16px;
  overflow: hidden;
}

/* Carrousel responsive */
.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem;
  margin-bottom: 0;
}

.carrousel-bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.carrousel-bloc img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 20px;
}

.carrousel-bloc button {
  font-size: 1.5rem;
  padding: 0.3em 0.7em;
}

.accordion-title {
  width: "100%";
  text-align: "center";
  padding: "10px";
  margin: 0.5rem;
  font-weight: "bold";
  font-size: "1.2em";
  cursor: "pointer";
  background: "#242424";
  border: "none";
  border-bottom: "1px solid #ccc";
}

.mainlogo {
  width: 110px;
  padding-bottom: 5em;
  will-change: filter;
  transition: filter 300ms;
}
.mainlogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.mainlogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.accordion-content {
  padding: "10px 20px";
  background: "#242424";
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.5s;
}

.accordion-content.closed {
  max-height: 0;
  opacity: 0;
  padding: 0 !important;
}

/* Accordion responsive */
.accordion-title {
  font-size: 1.1em;
  padding: 0.7em 0.5em;
}

.figma-container {
  position: relative;
  padding-top: 50%;
}

.figma-embed {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100%;
  border: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.color-picker-container input {
  border-radius: 5px;
  margin: 0.5rem;
  border: 1px solid hsla(0, 0%, 0%, 0.164);
  cursor: pointer;
}


.color-display {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.color-display::after, .color-display::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50% );
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 4px;
  /* background-image: conic-gradient(from var(--angle), #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); */
  background-image: conic-gradient(from var(--angle),transparent 85%, white);
  z-index: -1;
  animation: 3s spin infinite linear;
}

.color-display::before {
  filter: blur(1rem);
  opacity: 0.2;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@media (max-width: 600px) {
  .accueil, .contact, .projets {
    padding-top: 10rem;
  }

  li {
    list-style: none;
  }
  .mainimg, .image-wrapper {
    max-width: 98vw;
    min-width: 0;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
  }

  .carrousel-bloc {
    flex-direction: row;
  }

  .carrousel-bloc img {
    width: 55px;
    height: 55px;
    margin: 0 5px;
  }

  .mainlogo {
    width: 70px;
    padding-bottom: 3em;
  }

  .carrousel-bloc button {
    font-size: 0.5rem;
    padding: 0.2em 0.5em;
  }
  .accordion-content {
    padding: 8px 5px;
  }
  .figma-container {
    padding-top: 70%;
    max-width: 90vw;
  }
  .figma-embed {
    width: 50vw !important;
  }
  .screengame{
    max-width: 90vw;
    height: auto;
    margin: 0.5rem;
  }
  .color-display {
    width: 70vw;
    height: 150px;
    font-size: 0.8rem;
  }

.boximg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

}

.defilement-lisse {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.defilement-lisse .contenu {
  display: inline-block;
  padding-left: 100%;
  color: white;
  animation: defilement-infini 4s linear infinite;
}

@keyframes defilement-infini {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}