.footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(3, 9, 14);
}

.footer h1{
  font-size: 1.2rem;
}

.footer h2{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #888888;
}

.adresse{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.adresse img{
  width: 15px;
  height: 15px;
}

.adresse h3{
  font-size: 0.8rem;
  font-weight: 600;
  color: #888888;
}

.footer nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}

.footer h4{
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(135, 135, 135);
}

.footer-title{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.footer-title img{
    width: 30px;
    height: 30px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.footer-links img {
  width: 20px;
  height: 20px;
  margin: 1rem 0.5rem;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.footer-origin{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  width: 50%;
  height: 50%;
}

#btn-footer{
  background: none;
  border: none;
  color: rgba(75, 171, 255, 0.416);
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.3s;
}

#btn-footer:hover{
  color: #3399ff;;
}

/* A corriger */
#btn-footer:focus{
  color: #3399ff;
  font-weight: bold;
  border: none;
}

.logo {
  width: 110px;
  padding: 0 1rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }

  .footer-content {
    max-width: 80vw;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .footer nav {
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .footlink {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 80px;
  }

  h2 {
    font-size: 1em;
    text-align: center;
  }
}

body.light-mode .footer{
  background-color: rgb(234, 234, 234);
}
