@import './Body.css';

#skills-container {
  max-width: 80%;
  margin: 2rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  justify-content: center;
}

#skill-box {
  position: relative;
  width: 15vw;
  height: 300px;
  border-radius: 50px;
  padding: 3rem;
  font-size: medium;
  text-align: left;
  display: flex;
  align-items: left;
  background: linear-gradient(180deg, #071021 0%, #11283a 60%, #0b1926 100%);
  box-shadow: 0 0 3px rgba(32, 32, 32, 0.443);
  overflow: visible;
  z-index: 222;
}

#skill-box h2 {
  margin: 0.5rem 0;
}

#skill-box p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

body.light-mode #skill-box {
  background: linear-gradient(180deg, #c2d8ed 0%, #e9f6ff 60%, #d7eef8 100%);
}

#skill-box:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

#skill-box img {
    background-color: whitesmoke;
    padding: 0.5rem;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#skills-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.5rem;
  padding: 0;
  margin: 2rem 0 0 0;
  list-style: none;
}

#skills-list li {
  flex: 0 1 auto;
  padding: 5px;
  width: fit-content;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  background: linear-gradient(90deg, #3399ff 0%, #173651 100%);
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.443);
  min-width: 30px;
}

.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem;
  margin-bottom: 0;
}

.carrousel-bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.carrousel-bloc img {
  width: 125px;
  height: 125px;
  object-fit: contain;
  margin: 0 20px;
}

.mainlogo {
  width: 150px;
  padding-bottom: 5em;
  will-change: filter;
  transition: filter 300ms;
}
.mainlogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.mainlogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.programName {
  color: white;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

body.light-mode .programName {
  color: black;
}

@media (max-width: 600px) {
    
    #skills-container {
        grid-template-columns: 1fr;
        max-width: 90vw;
        gap: 2rem;
    }
    
    #skill-box {
        width: 70vw;
        height: auto;
        padding: 1.5rem;
        border-radius: 25px;
        text-align: left;
    }
    
    #skill-box img{
        width: 25px;
        height: 25px;
    }
    
    #skill-box h2 {
        font-size: 0.8rem;
    }
    
    #skill-box p {
        font-size: 0.5rem;
    }
    
    .carrousel-bloc {
        flex-direction: row;
    }
    
    .carrousel-bloc img {
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }
    
    .mainlogo {
        width: 90px;
        padding-bottom: 3em;
    }

    .carrousel-bloc button {
        font-size: 0.5rem;
        padding: 0.2em 0.5em;
    }
}